.account-preview {
    padding: 10px;
    margin: 10px;
}

.account-preview__header {
    display: flex;
    align-items: center;
}

.account-preview__name {
    margin-left: 5px;
    font-size: 1.5em;
}

/* Result page */
.result__pages *{
    
    margin: 10px;
    cursor: pointer;
}

.result__pages > ._active {
    font-weight: 900;
}